body{
  background-color: #cab4b4;
  color: #252222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50 px;
  text-align: center;
}
input {
  border: 2px solid #252222;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 300px;
}

section{
  background-color: #cab4b4;
  border: 2px solid #252222;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border-color: #252222;
}

#red {
  background-color: #ff8888;
}

#red2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff8888;
  text-align: center;
}